.input__{
/* background: rgba( 89, 155, 207, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 2rem; */
width: 80%;
height: 3rem;
padding: 1rem;
border: none;
border-bottom: 2px solid #d9d9d9;
outline: none;
color: #000;
font-size: 1rem;
font-weight: bold;

}
input:focus{
  display: inline-block;
  border-bottom: 2px solid #0B8CD5;
}