// Here you can add other styles
.nav-tabs {
    .nav-link {
        &:hover{
            text-decoration: none;
            }
    }
    .nav-link.active,
    .nav-item.show .nav-link {
      box-shadow: rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px, rgb(0 0 0 / 20%) 0px 3px 5px -1px;
      text-decoration: none;
    }
  }
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: white;
    stroke-width: 1;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: rgb(250, 183, 51);
  }
  
  .circular-chart.green .circle {
    stroke: rgb(105, 179, 76);
  }
  
  .circular-chart.red .circle {
    stroke: rgb(255, 78, 17);
  }
  
  .percentage {
    fill: #666;
    font-size: 0.45em;
    text-anchor: middle;
  }
  .text {
    fill: #666;
    font-size: 0.15em;
    text-anchor: middle;
  }
  .btn-icon {
    line-height: 0;
    border: 0px;
    padding: 0px;
    font-size: 0rem;
    border-radius: 0rem;
    background-color: transparent;
}
.form-check-input{
  &:checked{
    background-color: rgb(60, 75, 100);
    border-color: rgb(60, 75, 100);
  }
}

.form-check-label{
  font-weight: bolder;
}

.row{
  --cui-gutter-x: 0rem;
}
.form-check-label-orange{
  color: rgb(250, 183, 51);
}
.form-check-label-red{
  color: rgb(255, 78, 17);
}
.form-check-label-green{
  color: rgb(105, 179, 76);
}
#tsparticles{
  position:relative;
}

#tsparticles > canvas{
  position: absolute!important;
}

.button-effect{
  border-radius: 0.5em;
  display: flex;
  background-color: #013A63;
  border-color: #013A63;
  align-items: center;
  &:hover{
    border-radius: 0.5em;
    display: flex;
    background-color: #013A63;
    border-color: #013A63;
    align-items: center;
    box-shadow:
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px, rgb(0 0 0 / 20%) 0px 3px 5px -1px;
  }
}